<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.brownbag.soundplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:theme="@android:style/Theme.Holo.Light"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="ch.brownbag.soundplayer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="ch.brownbag.soundplayer.BackgroundAudioService"/>
        <activity
            android:name="ch.brownbag.soundplayer.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="ch.brownbag.soundplayer.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.brownbag.soundplayer.MainActivity" />
        </activity>
    </application>

</manifest>